# Node / Next.js
node_modules/
.next/
out/

# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
!.env.example
