.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml
android/.gradle/
android/local.properties
android/key.properties
android/app/upload-keystore.jks
ios/Pods/
ios/.symlinks/
macos/Pods/
.DS_Store
